<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Theme and color</ion-card-title>
      <ion-card-subtitle>UI & UX</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-theme-and-color></app-theme-and-color>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manage data</ion-card-title>
      <ion-card-subtitle>Data & Privacy</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-button (click)="clearData()" color="danger" expand="block" fill="outline">
        Clear all records
      </ion-button>
      <ion-chip color="danger">
        This action cannot be undone
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-card-header>
            <ion-card-title>Install the App</ion-card-title>
          </ion-card-header>
          <ion-badge *ngIf="!isStandalone" color="warning" slot="start">
            <ion-icon name="download-outline"></ion-icon>
          </ion-badge>
        </ion-item>

        <ion-list lines="none" slot="content">
          <ion-item>
            <ion-icon color="success" name="logo-android" size="large" slot="start"></ion-icon>
            <ion-label>
              <h2><strong>Android (Chrome)</strong></h2>
              <p>
                Tap the
                <ion-icon color="medium" name="ellipsis-vertical"></ion-icon>
                menu <br>
                and select <strong>"Add to Home screen"</strong>.
                You’ll have offline access and app-like experience.
              </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon color="primary" name="cloud-download-outline" size="large" slot="start"></ion-icon>
            <ion-label>
              <h2><strong>iOS (Safari)</strong></h2>
              <p>
                Tap the
                <ion-icon color="medium" name="share-outline"></ion-icon>
                button in Safari’s toolbar<br>
                then tap <strong>"Add to Home Screen"</strong>. <br>
                Your app will launch standalone.
              </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon color="warning" name="warning-outline" size="large" slot="start"></ion-icon>
            <ion-label>
              <h2><strong>iOS (Non-Safari browsers)</strong></h2>
              <p>
                To install the app, please open this site in <strong>Safari</strong> first, <br>
                then follow the steps above.
              </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon color="tertiary" name="desktop-outline" size="large" slot="start"></ion-icon>
            <ion-label>
              <h2><strong>Desktop Browsers</strong></h2>
              <p>
                Look for the
                <ion-icon color="medium" name="download-outline"></ion-icon>
                icon near the address bar,
                or click here: <a (click)="installApp()">Install App</a>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>


<ion-toast [duration]="5000"
           [isOpen]="isToastOpen"
           color="danger"
           icon="checkmark-circle-outline"
           message="Data cleared successfully!"
           position="middle"></ion-toast>
