<div class="container">
  <div class="layout">
    <nb-card class="tl"></nb-card>
    <nb-card class="tr" accent="warning">
      <nb-card-header>Welcome!</nb-card-header>
    </nb-card>
    <nb-card class="bl" accent="warning">
      <nb-card-header>Hi!</nb-card-header>
    </nb-card>
    <nb-card class="br" accent="danger">
      <nb-card-header>Site under construction! 🏗️</nb-card-header>
    </nb-card>
    <nb-card class="center" accent="success">
      <nb-card-header>Check back later!</nb-card-header>
    </nb-card>
  </div>
</div>
