<ion-content class="ion-padding ion-text-center">
  <div class="about-text">
    <h2>About <i>WorkR</i></h2>
    <p>
      <ion-icon name="time-outline"></ion-icon>
      <strong>WorkR</strong> helps you keep track of your <strong>daily working hours</strong> and any <strong>extra/overtime</strong>
      you accumulate.
    </p>

    <p>
      <ion-icon name="checkmark-done-outline"></ion-icon>
      Ideal for freelancers, shift workers, or anyone managing flexible work hours.
    </p>

    <p>
      <ion-icon name="calendar-outline"></ion-icon>
      Easily <strong>log your hours</strong>, view your <strong>work history</strong>, and stay organized.
    </p>

    <p>
      <ion-icon name="flash-outline"></ion-icon>
      Built with <strong>Ionic</strong> and <strong>Angular</strong> for a fast, modern, mobile-first experience.
    </p>

    <p>
      <ion-icon name="cloud-offline-outline"></ion-icon>
      Fully functional <strong>offline</strong>, so you can track hours anywhere, anytime.
    </p>
  </div>
  <ion-badge class="ion-margin ion-padding" color="light" slot="fixed">
    <ion-text color="medium">Version: 0.0.18</ion-text>
  </ion-badge>
</ion-content>

