<ion-content class="ion-padding ion-text-center">
  <div class="about-text">
    <h2>About <ion-text [color]="themeColor()"><i>WorkR</i></ion-text></h2>
    <p>
      <ion-icon [color]="themeColor()" name="time-outline"></ion-icon>
      <strong>WorkR</strong> helps you keep track of your <strong>daily working hours</strong> and any <strong>extra/overtime</strong>
      you accumulate.
    </p>

    <p>
      <ion-icon [color]="themeColor()" name="checkmark-done-outline"></ion-icon>
      Ideal for freelancers, shift workers, or anyone managing flexible work hours.
    </p>

    <p>
      <ion-icon [color]="themeColor()" name="calendar-outline"></ion-icon>
      Easily <strong>log your hours</strong>, view your <strong>work history</strong>, and stay organized.
    </p>

    <p>
      <ion-icon [color]="themeColor()" name="flash-outline"></ion-icon>
      Built with <strong>Ionic</strong> and <strong>Angular</strong> for a fast, modern, mobile-first experience.
    </p>

    <p>
      <ion-icon [color]="themeColor()" name="cloud-offline-outline"></ion-icon>
      Fully functional <strong>offline</strong>, so you can track hours anywhere, anytime.
    </p>
  </div>
  <ion-badge class="ion-margin ion-padding author" (click)="goTo()" color="light" slot="fixed">
    <ion-text [color]="themeColor()">
      <span>Linked</span><ion-icon name="logo-linkedin"></ion-icon>
    </ion-text>
  </ion-badge>
  <ion-badge class="ion-margin ion-padding" color="light" slot="fixed">
    <ion-text [color]="themeColor()">Version: 0.1.5</ion-text>
  </ion-badge>
</ion-content>

