<ion-header>
  <ion-toolbar>
    <ion-title>Add Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime [color]="themeColor()" [(ngModel)]="date" [max]="maxDate" firstDayOfWeek="1" presentation="date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Hours</ion-label>
    <ion-input [color]="themeColor()" [(ngModel)]="hours" max="24" min="0.5" placeholder="8" step="0.5" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Note (optional)</ion-label>
    <ion-textarea [(ngModel)]="note" placeholder="Add details about your work..." rows="3"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-bottom">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal('canceled')" color="medium">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveEntry()" [disabled]="!isFormValid()" [color]="themeColor()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

