.calendar-container {
  margin: 0 auto;
  padding: 1rem;
}

.calendar-week-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-x: auto;
  gap: 0.5rem;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nb-card-body {
  height: 100%;
  padding: 0.5rem;
}

nb-alert {
  font-size: 2rem;
  margin: 0;
}

.user-chip {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.steppers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
