<div class="calendar-container">
  <div class="calendar-week-view">
    <nb-card accent="info" [status]="isToday(day) ? 'info' : 'basic'" *ngFor="let day of week">
      <nb-card-header>
        <span>{{ day.date | date: 'dd' }}</span>
        <span>{{ day.date | date: 'MMM' }}</span>
      </nb-card-header>
      <nb-card-body>
        <div *ngFor="let req of day.requests" class="user-chip">
          <nb-user size="tiny" [name]="req.user_name"></nb-user>
        </div>
      </nb-card-body>
      <button *ngIf="!checkDay(day.requests)" nbButton ghost (click)="sendRequest(day)">
        <nb-icon status="warning" icon="calendar-outline"></nb-icon>
      </button>
      <button *ngIf="checkDay(day.requests)" nbButton ghost (click)="revokeFreeDay(day)">
        <nb-icon status="warning" icon="close"></nb-icon>
      </button>
    </nb-card>
  </div>
  <nb-card accent="success">
      <div class="days-summary">
        <div class="summary-item">
          <h6>Total Days</h6>
          <p>{{ totalDays }}</p>
        </div>
        <div class="summary-item">
          <h6>Days Used</h6>
          <p>{{ usedDays }}</p>
        </div>
        <div class="summary-item">
          <h6>Available Days</h6>
          <p>{{ availableDays }}</p>
        </div>
      </div>
    <button nbButton ghost (click)="getUserSummary()"><nb-icon icon="refresh-outline"></nb-icon></button>
  </nb-card>
</div>

