<div class="calendar-container">
  <div class="calendar-week-view">
    <div class="day-card" *ngFor="let day of week">
      <nb-alert status="danger">{{ day.date | date: 'dd' }}</nb-alert>
      <h3>{{ day.date | date: 'MMM' }}</h3>
      <div *ngIf="checkRequests(day)" class="users">
        <div *ngFor="let req of day.requests" class="user">
          <nb-user size="tiny" [name]="req.user_name"></nb-user>
          <button *ngIf="isMyRequest(req)" nbButton size="tiny" (click)="revokeFreeDay(req.$id)"><nb-icon icon="close"></nb-icon></button>
        </div>
      </div>
      <button *ngIf="!checkDay(day.requests)" nbButton (click)="sendRequest(day)">
        <nb-icon icon="calendar-outline"></nb-icon>
      </button>
    </div>
  </div>
  <div class="calendar-header">
    <button nbButton status="primary" (click)="goToPreviousWeek()">Previous Week</button>
    <h3>{{ currentWeekRange }}</h3>
    <button nbButton status="primary" (click)="goToNextWeek()">Next Week</button>
  </div>
</div>
