<ion-tabs>
  <ion-tab-bar #tabBar slot="bottom" class="tabs">
    <ion-tab-button tab="about">
      <ion-icon [name]="tabBar.selectedTab === 'about' ? 'information-circle' : 'information-circle-outline'"
                [color]="tabBar.selectedTab === 'about' ? themeColor() : 'medium'"></ion-icon>
      <ion-text [color]="tabBar.selectedTab === 'about' ? themeColor() : 'medium'">About</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="dashboard" id="anchor-tab" [selected]="true">
      <ion-icon [name]="tabBar.selectedTab === 'dashboard' ? 'stats-chart' : 'stats-chart-outline'"
                [color]="tabBar.selectedTab === 'dashboard' ? themeColor() : 'medium'"></ion-icon>
      <ion-text [color]="tabBar.selectedTab === 'dashboard' ? themeColor() : 'medium'">Dashboard</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="tabBar.selectedTab === 'settings' ? 'settings' : 'settings-outline'"
                [color]="tabBar.selectedTab === 'settings' ? themeColor() : 'medium'"></ion-icon>
      <ion-text [color]="tabBar.selectedTab === 'settings' ? themeColor() : 'medium'">Settings</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="qr">
      <ion-icon [name]="tabBar.selectedTab === 'qr' ? 'qr-code' : 'qr-code-outline'"
                [color]="tabBar.selectedTab === 'qr' ? themeColor() : 'medium'"></ion-icon>
      <ion-text [color]="tabBar.selectedTab === 'qr' ? themeColor() : 'medium'">QR Scanner</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
