<ion-tabs>
  <ion-tab-bar #tabBar slot="bottom" class="tabs">
    <ion-tab-button tab="about">
      <ion-icon [name]="tabBar.selectedTab === 'about' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard" id="anchor-tab" [selected]="true">
      <ion-icon [name]="tabBar.selectedTab === 'dashboard' ? 'stats-chart' : 'stats-chart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="tabBar.selectedTab === 'settings' ? 'settings' : 'settings-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
