<nb-layout>
  <nb-layout-header>
    <div class="header-content">
      <div class="menu-button-container">
        <button *ngIf="authService.userInfo" nbButton ghost status="primary" (click)="toggleMenu()">
          <nb-icon icon="menu"></nb-icon>
        </button>
      </div>
      <div class="welcome-message-container">
        <span>{{ authService.userInfo ? 'Welcome ' + authService.userInfo.name + '!' : 'Not logged in' }}</span>
      </div>
      <div class="auth-buttons-container">
        <button *ngIf="authService.userInfo" nbButton status="danger" size="small" (click)="logout()">Logout</button>
        <button *ngIf="!authService.userInfo" nbButton status="primary" size="small" (click)="login()">Login</button>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="authService.userInfo" [responsive]="true" (responsiveStateChange)="compactMode = $event" state="collapsed">
    <nb-menu [items]="menuItems" (click)="toggleMenu()"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <div class="footer-container">
      <span>© 2025, JackKábel. All rights reserved.</span>
    </div>
  </nb-layout-footer>
</nb-layout>
