.header-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-button-container {
  justify-self: left
}

.welcome-message-container {
  justify-self: center
}

.auth-buttons-container {
  justify-self: right
}

.dates {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.auth-card {
  max-width: 500px;
  margin: auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
